@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/regular';
@import '~@fortawesome/fontawesome-free/css/solid';
@import '~@fortawesome/fontawesome-free/css/brands';
@import '~bootstrap-icons';

$logo-red-color: #fe1a4c;
$back-grey: #f5f5f5;
$light-black: #5f6265;
$logo-red-color-opacity: rgba(254,26,76,0.5);
$logo-white-color-opacity: rgba(255,255,255,0.5);

#nav-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav-block img {
    width: 100%;
}

#nav-block nav a:before {
    content: "\f105";
    font: var(--fa-font-solid);
    color: $logo-red-color;
    margin-right: 7px;
}

#nav-block a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

#nav-block a:hover {
    color: #ff4c30;
}

#banner-article {
    background-image: url('/images/banner.png');
    min-height: 750px;
    background-size: cover;
}

#banner-article #banner-btn-block {
    padding-top: 60px;
}

#banner-article #banner-block {
    padding: 30px;
    padding-top: 70px;
    color: white;
}

#banner-article #banner-block img {
    width: 100%;
}

.custom-btn {
    border-width: 5px;
    border-style: solid;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.red-btn {
    border-color: $logo-red-color;
    background-color: $logo-red-color-opacity;
}

.black-btn {
    border-color: $light-black;
    color: $light-black;
}

.black-btn:hover {
    background-color: $light-black;
    color: white;
}

.sm-btn {
    font-size: 16px;
    padding: 8px 16px;
    margin-right: 15px;
    margin-top: 16px;
}

.custom-btn a {
    text-decoration: none;
    color: white;
}

.red-btn:hover {
    background-color: $logo-red-color;
    color: white;
}

#banner-article #banner-block h2 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 60px;
}

#banner-article #banner-block p {
    font-size: 30px;
    margin: 20px 0px 50px 0px;
}

@media (max-width: 992px) {
    #banner-article #banner-block h2 {
        font-size: 36px;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    #banner-article #banner-block p {
        font-size: 25px;
        margin: 10px 0px 0px 0px;
    }

    #banner-article #banner-btn-block {
        padding-top: 50px;
    }

    .custom-btn {
        border-width: 4px;
        font-size: 18px;
        padding: 6px 10px;
        margin-right: 10px;
        margin-top: 10px;
    }

    #banner-article {
        min-height: 400px;
        padding: 50px 0px 50px 0px;
    }

    #banner-article #banner-block {
        padding: 15px;
    }
}

#prices-article .card {
    text-align: center;
}

#prices-article .right-line {
    border-right: 3px solid $logo-red-color-opacity;
}

#advanteges-article .advanteges-wrapper {
    padding: 15px;
    font-size: 30px;
    font-weight: 800;
    color: white;
}

#advanteges-article .advanteges-block i {
    color: #fe1a4c;
}

#advanteges-article .advanteges-block {
    border-radius: 20px;
    background-color: $back-grey;
    padding: 30px;
    min-height: 300px;
    margin-bottom: 15px;
    background-size: cover;
}

#advanteges-article .advanteges-block p {
    padding-top: 15px;
    margin-top: 15px;
}

#advanteges-article .advanteges-block p.p-t-40 {
    padding-top: 40px;
}

#advanteges-article .advanteges-block.black {
    color: black;
}

.article-block {
    padding-top: 75px;
    padding-bottom: 60px;
    text-align: center;
}

@media (max-width: 992px) {
    #advanteges-article .advanteges-wrapper {
        padding: 10px;
        font-size: 20px;
    }

    #advanteges-article .advanteges-block {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    #advanteges-article .advanteges-wrapper {
        padding: 5px;
        font-size: 16px;
    }

    #advanteges-article .advanteges-block {
        padding: 20px 10px;
        min-height: 150px;
    }

    .article-block {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #advanteges-article .advanteges-block p.p-t-40 {
        padding-top: 15px;
    }

    #advanteges-article .advanteges-block p {
        font-size: 14px;
    }
}

.article-header {
    font-size: 40px;
    margin-bottom: 50px;
}

#prices-article {
    background-color: $back-grey;
}

#prices-article .card {
    color: white;
    margin-bottom: 15px;
}

#prices-article .card-header {
    background-color: $logo-white-color-opacity;
    color: #242324;
    font-weight: 800;
    font-size: 25px;
}

#prices-article .card-footer {
    border-top: 3px solid $logo-red-color-opacity;
    font-size: 25px;
    padding-top: 10px;
    font-weight: 900;
}

#prices-article .card-body p {
    font-size: 20px;
    font-weight: 900;
}

.min-price-height {
    min-height: 265px;
}

@media (max-width: 992px) {
    #prices-article .card-header {
        font-size: 20px;
    }

    #prices-article .card-body p {
        font-size: 18px;
    }

    #prices-article .card-footer {
        font-size: 20px;
    }

    .min-price-height {
        min-height: 210px;
    }
}

footer {
    background-color: $back-grey;
    padding: 25px;
    border-top: 2px solid #dbdada;
}

footer p {
    font-size: 18px;
}

footer a {
    color: black;
}

footer a:hover {
    color: $logo-red-color;
}

.mg-t-25 {
    margin-top: 25px;
}

.red-border {
    border-color: $logo-red-color-opacity;
    border-width: 2px;
}

.black-border {
    border-color: $light-black;
    border-width: 2px;
}

.modal-content {
    padding: 5px 15px;
}

.red-input {
    border: 5px solid $logo-red-color-opacity;
}

.black-input {
    border: 5px solid $light-black;
}

.custom-input {
    font-size: 16px;
    padding: 10px;
}

#request-modal .form-group {
    margin-bottom: 15px;
}

#request-modal label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

#prices-table .text-bold {
    font-weight: 700;
}

.news-block img {
    border-radius: 10px 0px 0px 10px;
}

.news-block {
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: $back-grey;
}

.news-block > .col {
    padding-left: 0px;
}

.news-block a {
    text-decoration: none;
    color: black;
}

.news-block:hover {
    background-color: #efecec;
}

.news-block .news-block-date {
    color: $logo-red-color;
    font-size: 14px;
}

.p-top-15 {
    padding-top: 15px;
}


